.detail-wrap {
    width: 1180px;
    margin: 0 auto;

    .detail-header {
        margin-top: 40px;

        .header-left {

            .back-icon {
                cursor: pointer;
            }

            .title {
                margin-left: 20px;
                font-size: 30px;
                font-weight: 600;
                line-height: 42px;
                text-align: left;
                color: #333;
            }
        }

        .header-right {}
    }

    .images-list {
        display: flex;
        gap: 20px;
        margin-top: 25px;

        .pic-container {

            img {
                width: 290px;
                height: 404px;
            }
        }
    }
}